
{% extends 'layout/layout.twig' %}

{% block main %}
    <main id="center">

        <section>

            <div class="center"><img class="partnerImage" alt="partnerImage" src="../img/{{ partner.partnerImage }}"></div>
            <h2>{{ partner.partnerName }}</h2>
            <p class="partnerDescription">{{ partner.partnerDescription }}</p>

        </section>

        <section class="">

                <p class="error"> {{ error }} </p>

                <div class="commentInfo"><!--Comment info-->

                    <p>{{ commentCount }} commentaires</p>

                    <div class="flex">

                    {% if newCommentBox == false %}
                        <a href="{{ url('partner!withCommentBox',[partner.partnerName]) }}"><button class="commentButton" type="button">Nouveau commentaire</button></a>
                    {% endif %}

                    {% if voteState == false %}
                        <span class="flex">
                        <p> {{ voteCount.likeCount }} </p>
                        <a href="{{ url('partner!voteLike',[partner.partnerName]) }}"><i class="far fa-thumbs-up" ></i></a>
                        <p> {{ voteCount.dislikeCount }} </p>
                        <a href="{{ url('partner!voteDislike',[partner.partnerName]) }}"><i class="far fa-thumbs-down"></i></a>
                        </span>
                    {% endif %}

                    {% if voteState == 'like' %}
                        <span class="flex">
                        <p> {{ voteCount.likeCount }} </p>
                        <a><i class="fas fa-thumbs-up" ></i></a>
                        <p> {{ voteCount.dislikeCount}} </p>
                        <a href="{{ url('partner!voteDislike',[partner.partnerName]) }}"><i class="far fa-thumbs-down"></i></a>
                        </span>
                    {% endif %}

                    {% if voteState == 'dislike' %}
                        <span class="flex">
                        <p> {{ voteCount.likeCount }} </p>
                        <a href="{{ url('partner!voteLike',[partner.partnerName]) }}"><i class="far fa-thumbs-up" ></i></a>
                        <p> {{ voteCount.dislikeCount }} </p>
                        <a><i class="fas fa-thumbs-down"></i></a>
                        </span>
                    {% endif %}

                    </div>

                </div><!--Comment info-->

                {% if newCommentBox %}
                    <div class="newComment center">
                        <label for="newComment">Rédigez votre commentaire :</label>
                        <form id="newComment" action="{{ url('partner!createComment',[partner.partnerName]) }}"method="post">
                            <textarea id="newComment" rows="4" cols="50" name="post" form="newComment"></textarea>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Submit">
                                <input type="reset" class="btn btn-default" value="Reset">
                            </div>
                        </form>
                    </div>
                {% endif %}

                {% for comment in commentsList %}
                <div class="comment borderAndShadow">
                    <p> {{ comment.userID }} </p>
                    <p> {{ comment.dateAdd }} </p>
                    <p> {{ comment.post }} </p>
                </div>
                {% endfor %}

        </section>

    </main>
{% endblock %}