<header>
    <nav>
        <ul>
            <div>
                <li>
                    <a href="{{ url('home') }}" title="Home">
                        <img class="logo" src = "../img/GBAF.png">
                    </a>
                </li>
            </div>
            {% if pageData.userName !="" %}
            <div>
                <li>
                        <a href="{{ url('user!userAccountPage') }}" title="Paramètres utilisateur"><i class="fas fa-user-circle fa-2x"></i> {{ pageData.lastName }} {{ pageData.firstName }}</a>
                </li>
                <li class="centerText">
                    <a href="{{ url('user!signOutAction') }}"><button type="button">Déconnexion</button></a>
                </li>
            </div>
            {% endif %}
        </ul>
    </nav>
</header>
